body,
html {
    width: 100%;
    height: 100%;
}

li {
    list-style: none;
}

.board-container {
    width: 350px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

/*============================================
          Game Board
============================================*/

.game-board {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


.boxes {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 108px);
    grid-template-rows: repeat(3, 108px);
    gap: 4px;
    justify-content: center;
    align-content: center;
    top: 0;
}



.boxes li {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1000;
    overflow: hidden;
}


li i {
    font-size: 6.5rem;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-style: normal;
    font-family: "Architects Daughter", "Helvetica", "sans-serif";
    color: rgba(220, 220, 220, .7);
    z-index: 500;
}

li span {
    position: relative;
}

#myCanvas {
    width: 330px;
    height: 330px;
    position: absolute;
    z-index: 0;
    margin: 10px;
    opacity: 0;
}

span.rotate {
    color: rgba(0, 200, 200, 1);
}

i.win {
    background: black;
}

.draw-message,
.win-message,
.lose-message {
    background: rgba(0, 0, 0, 0.8);
    width: 400px;
    height: 400px;
    z-index: 2000;
    display: none;
    position: absolute;
    top: -15px;
    left: 0;
    box-sizing: border-box;
}

.draw-message p,
.win-message p,
.lose-message p {
    color: white;
    text-align: center;
    position: absolute;
    font-size: 2.3rem;
    margin: 0;
    top: 150px;
    left: 50px;
    font-family: 'Architects Daughter', sans-serif;
}

/*============================================
          Game Starter
============================================*/

.game-starter {
    width: 100%;
    height: 500px;
    text-align: center;
    font-family: 'Architects Daughter', Helvetica, sans-serif;
    z-index: 1500;
    position: absolute;
    /* display:none; */
}